*{
  text-align: center;
  font-size: 1.2rem;
  color: white;
}
body{
  background-image: url(bg.jpg);
}
h3{
  margin-top: 40px;
}
li{
  list-style: none;
}
#forMy, #forYour{
  color: black;
}
button{
  background-color: darkgray;
}
